
<div>
    @* Al formulario hay que indicarle en el action la ruta que ha de llevar, ademas de indicarle que 
     utilizara el metodo post*@
    <form action="/home/index" method="post">
        <label>Introduzca un nombre</label> Un l@*abel para introducir un texto en el html*@
        <br />
        <br />
        <input type="text" name="nombre"/> @*Un input para poder crear una casilla en la que introducir el texto, en este caso que queramos*@
        <br/>
        <br/>

        <input  type="submit" name="Enviar" /> @*Un input para poder crear un submit por el que darle salida al texto anterior*@
    </form>
</div>


