<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <!-- Configuración de la conexión JDBC -->
        <property name="connection.driver_class">com.mysql.cj.jdbc.Driver</property>
        <property name="connection.url">jdbc:mysql://dns11036.phdns11.es:3306/ad2223_falbinana</property>
        <property name="connection.username">ad2223_falbinana</property>
        <property name="connection.password">87654321</property>
        <!-- Configuración del pool de conexiones JDBC... utilizamos el pool de test integrado -->
        <property name="connection.pool_size">1</property>
        <!--Seleccionamos el dialecto SQL-->
        <property name="dialect">org.hibernate.dialect.MariaDBDialect</property> <!-- Esto es para que el hibernate se adapte al lenguaje de la BBDD -->
        <!-- Configurar SQL para salida estándar -->
        <property name="show_sql">true</property>
        <!-- Establece el contexto de la sesion-->
        <property name="current_session_context_class">thread</property>
        <property name="hbm2ddl.auto">update</property> <!-- Esto se para no tener que crear las tablas en la BBDD, se crean solas y se updatean si es necesario -->
        <!-- A partir de aquí hay que poner todas las clases que se vayan a usar -->
        <mapping class="Entities.UsuarioEntity"/>
        <mapping class="Entities.PostsEntity"/>
        <mapping class="Entities.LikesEntity"/>
    </session-factory>
</hibernate-configuration>