@using _07_ASP_Net_MVC.Models.ViewModels
@model clsEditarPersonaViewModel
<div class="text-center">

    <h1>Agrega una persona</h1>

    <form method="post">
        <label>Nombre</label>
        <input type="text" />
        <select name="Departamento">
            @*<optgroup>Modelos</optgroup>*@
            <option>Marketing</option>


        </select>
        @Html.TextBox("Nombre Departamento")
        @Html.TextBoxFor(m=>m.persona.Id)
    </form>
    <input type="submit" />
</div>
@*Este link te devuelve al Home*@
<div class="text-center">@Html.ActionLink("Home","Index","Home")</div>