@model UI_ASP.Models.ViewModels.CrearEditarVM

@{
    ViewData["Title"] = "EditarPersona";
}

<h1>Editar Datos</h1>

@*<h4>clsPersonasConNombreDpto</h4>*@
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="EditarPersona">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group" hidden>
                <label asp-for="Persona.id" class="control-label"></label>
                <input asp-for="Persona.id" class="form-control" />
                <span asp-validation-for="Persona.id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Persona.nombre" class="control-label"></label>
                <input asp-for="Persona.nombre" class="form-control" />
                <span asp-validation-for="Persona.nombre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Persona.apellidos" class="control-label"></label>
                <input asp-for="Persona.apellidos" class="form-control" />
                <span asp-validation-for="Persona.apellidos" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Persona.telefono" class="control-label"></label>
                <input asp-for="Persona.telefono" class="form-control" />
                <span asp-validation-for="Persona.telefono" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Persona.direccion" class="control-label"></label>
                <input asp-for="Persona.direccion" class="form-control" />
                <span asp-validation-for="Persona.direccion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Persona.foto" class="control-label"></label>
                <input asp-for="Persona.foto" class="form-control" />
                <span asp-validation-for="Persona.foto" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Persona.fechaNacimiento" class="control-label"></label>
                <input asp-for="Persona.fechaNacimiento" class="form-control" />
                <span asp-validation-for="Persona.fechaNacimiento" class="text-danger"></span>
            </div>
            <br />
@*            <div class="form-group" hidden>
                <label asp-for="Persona.IdDepartamento" class="control-label"></label>
                <input asp-for="Persona.IdDepartamento" class="form-control" />
                <span asp-validation-for="Persona.IdDepartamento" class="text-danger"></span>
            </div>                                                 Lo comento por lo mismo que en el crear*@
            <div class="form-group">
            @Html.DropDownListFor(m => m.Persona.idDepartamento,new SelectList(Model.ListaDepartamentos,"id","nombre"))
            <br/>
            </div>
            <br />
            <div class="form-group">
                <input type="submit" value="Guardar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
<br />
<div>
    <a asp-action="ListadoPersonas">Volver a la lista</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
