@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
  

    <form method="post">
        <input type="submit" value="Conexion"/>
         
    </form>


    <label>El estado de la conexión es: @ViewBag.estadoConexion</label>
    


</div>
